.btn {
    border: none;
    padding: 1rem;
    border-radius: 2.5rem;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    
    &--white {
        background-color: white;
    }

    &:active, &:focus {
        outline: none;
    } 
}