label {
    font-size: 1.5rem;
}

input {
    margin: 2rem 0;
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #ced4da;
    outline: none;
    width: 80%;
}