@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300");
* {
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%;
  font-family: 'Ubuntu', sans-serif; }
  @media (max-width: 112.5em) {
    html {
      font-size: 68.75%; } }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 50%; } }

.mb-sm {
  margin-bottom: 1rem; }

.mb-md {
  margin-bottom: 2rem; }

.mb-lg {
  margin-bottom: 4rem; }

.flex {
  display: flex;
  justify-content: space-between; }

section {
  padding: 2rem; }

.section-home-main {
  margin: 0 20rem; }
  @media (max-width: 75em) {
    .section-home-main {
      margin: 0 10rem; } }
  @media (max-width: 56.25em) {
    .section-home-main {
      margin: 0 7.5rem; } }
  @media (max-width: 37.5em) {
    .section-home-main {
      margin: 0 5rem; } }

.section-home-secondary {
  margin: 0 20rem; }
  @media (max-width: 75em) {
    .section-home-secondary {
      margin: 0 10rem; } }
  @media (max-width: 56.25em) {
    .section-home-secondary {
      margin: 0 7.5rem; } }
  @media (max-width: 37.5em) {
    .section-home-secondary {
      margin: 0 5rem; } }

.section-about-main {
  margin: 0 20rem; }

.section-contact-main {
  display: flex;
  justify-content: center; }
  .section-contact-main .form {
    margin: 2rem 0;
    padding: 2rem; }

h1 {
  font-size: 3rem; }
  @media (max-width: 75em) {
    h1 {
      font-size: 2.75rem; } }
  @media (max-width: 56.25em) {
    h1 {
      font-size: 2.5rem; } }

h2 {
  font-size: 2.5rem; }
  @media (max-width: 75em) {
    h2 {
      font-size: 2rem; } }
  @media (max-width: 56.25em) {
    h2 {
      font-size: 1.75rem; } }

p {
  font-size: 1.75rem;
  text-align: justify; }

a {
  text-decoration: none;
  color: black; }

.row {
  margin: 0 auto; }

.row:not(:last-child) {
  margin-bottom: 8rem; }

@media (max-width: 56.25em) {
  .row:not(:last-child) {
    margin-bottom: 6rem; } }

@media (max-width: 56.25em) {
  .row {
    max-width: 80rem; } }

@media (max-width: 56.25em) {
  .row__no-padding-tab-port {
    padding: 0; } }

.row::after {
  content: "";
  display: table;
  clear: both; }

.row [class^="col-"] {
  float: left; }

.row [class^="col-"]:not(:last-child) {
  margin-right: 6rem; }

@media (max-width: 56.25em) {
  .row [class^="col-"]:not(:last-child) {
    margin-right: 0;
    margin-bottom: 6rem; } }

@media (max-width: 56.25em) {
  .row [class^="col-"] {
    width: 100% !important; } }

.row .col-1-of-2 {
  width: calc((100% - 6rem) / 2); }

.row .col-1-of-3 {
  width: calc((100% - 2 * 6rem) / 3); }

.row .col-2-of-3 {
  width: calc(2 * (100% - 2 * 6rem) / 3 + 6rem); }

.row .col-1-of-4 {
  width: calc((100% - 3 * 6rem) / 4); }

.row .col-2-of-4 {
  width: calc(2 * (100% - 3 * 6rem) / 4 + 6rem); }

.row .col-3-of-4 {
  width: calc(3 * (100% - 3 * 6rem) / 4 + 6rem); }

.navbar {
  height: 50vh;
  padding: 1rem;
  background-image: url("../img/banner.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
  .navbar h1 {
    font-size: 2.5rem;
    color: whitesmoke; }
    @media (max-width: 75em) {
      .navbar h1 {
        font-size: 2rem; } }
    @media (max-width: 56.25em) {
      .navbar h1 {
        font-size: 1.75rem; } }
    @media (max-width: 37.5em) {
      .navbar h1 {
        font-size: 1.5rem; } }
  .navbar__top {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .navbar__top__left {
      display: flex;
      align-items: center;
      flex-grow: 3; }
      .navbar__top__left--image {
        height: 6rem;
        margin-right: 2rem; }
        @media (max-width: 75em) {
          .navbar__top__left--image {
            height: 5rem;
            margin-right: 1.75rem; } }
        @media (max-width: 56.25em) {
          .navbar__top__left--image {
            height: 4rem;
            margin-right: 1.5rem; } }
        @media (max-width: 37.5em) {
          .navbar__top__left--image {
            height: 3.5rem;
            margin-right: 1.25rem; } }
    .navbar__top__right {
      display: flex;
      justify-content: space-around;
      flex-grow: 1; }
      .navbar__top__right button {
        font-size: 2.25rem;
        border: none;
        background-color: transparent;
        color: white;
        padding: .5rem;
        cursor: pointer; }
        @media (max-width: 75em) {
          .navbar__top__right button {
            font-size: 2rem; } }
        @media (max-width: 37.5em) {
          .navbar__top__right button {
            font-size: 1.75rem; } }
        .navbar__top__right button:hover {
          transform: scale(1.1); }
        .navbar__top__right button:active, .navbar__top__right button:focus {
          border: none;
          outline: none; }
  .navbar__bottom__center {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 22.5%;
    transform: translate(-50%, -50%);
    padding: 4rem; }
    .navbar__bottom__center--title {
      font-size: 3.75rem;
      color: white;
      margin-bottom: 4rem;
      text-transform: uppercase; }
      @media (max-width: 75em) {
        .navbar__bottom__center--title {
          font-size: 3.5rem; } }
      @media (max-width: 56.25em) {
        .navbar__bottom__center--title {
          font-size: 2.75rem; } }
      @media (max-width: 37.5em) {
        .navbar__bottom__center--title {
          font-size: 2.5rem; } }
    .navbar__bottom__center a {
      color: black;
      padding: 2rem;
      font-size: 1.5rem;
      font-weight: bold; }

.btn {
  border: none;
  padding: 1rem;
  border-radius: 2.5rem;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none; }
  .btn--white {
    background-color: white; }
  .btn--blue {
    background-color: #06f;
    color: whitesmoke; }
  .btn:active, .btn:focus {
    outline: none; }

.modal {
  position: absolute;
  background-color: #fefefe;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 1rem;
  border-radius: 2.5rem;
  width: 200px;
  display: none; }

footer {
  background-color: #333;
  color: whitesmoke;
  padding: .5rem;
  text-align: center;
  font-size: 1.25rem; }

label {
  font-size: 1.5rem; }

input {
  margin: 2rem 0;
  display: block;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid #ced4da;
  outline: none;
  width: 80%; }
